# Logs
*.log

# Ambientes virtuais Python
/venv
venv/
env/
ENV/
env.bak/
venv.bak/
.venv/

# Arquivos Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Arquivos do sistema
.DS_Store
Thumbs.db